<a href="https://colab.research.google.com/github/macrodatascience/100DaysOfCode/blob/main/Day1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
# Day 1
# Docstrings 
# Always include a docstring in any function

def sum(a,b):
  '''
  Takes two input parameters and returns the sum
  '''
  return a + b
print(sum.__doc__)
print(sum(10,20))

  Takes two input parameters and returns the sum

30

In [ ]:
# Day 2
# A function that returns another function

def outer():
  ''' This function returns another function '''
  def inner():
    ''' This is the inner function that will be returned '''
    print("Executing inner()")
    print(1)
  return inner

print(outer())
print(outer()())

<function outer.<locals>.inner at 0x7f93359de170>
Executing inner()
1
None

In [ ]:
# Day 3

"Python"[::-1]

'nohtyP'

In [43]:
# Day 4
'''
This script does a system health check by reading the disk and cpu utilization rates
shutil module contains disk_usage() which returns total, used, and free space in bytes
psutil module contains cpu_percent() which returns the percentage of cpu utilized
'''

import shutil
import psutil

def disk_health(disk,i=0):
  
  disk_usg = shutil.disk_usage(disk)
  disk_used = (disk_usg.used/disk_usg.total)*100
  disk_free = (disk_usg.free/disk_usg.total)*100
  if i:
    print("Disk Stats :{:.5}% utlized and {:.5}% free".format(disk_used, disk_free))
  return disk_free > 20

disk_health('/',2)

def cpu_health(time_frame):
  
  cpu_usg = psutil.cpu_percent(1)  # time_frame passed as 1 minute
  print("Average % of CPU used: {}".format(cpu_usg))
  return cpu_usg < 75

if disk_health('/') and cpu_health(5):
  print("System utilization rates are sustainable")
else:
  print("System is unsustainable and clean disk and shut down")

Disk Stats :36.686% utlized and 63.3% free
Average % of CPU used: 5.0
System utilization rates are sustainable

In [ ]:
# Day 5

import numpy as np
import pandas as pd

In [ ]:
class Sensor():
  def __init__(self, name, location, record_date):
    ''' init method to initialize the class attributes '''
    self.name = name
    self.location = location
    self.record_date = record_date
    self.data = {}
  
  def add_data(self, t, data1, data2):
    ''' add method to add the data to the dictionary '''
    self.data['time'] = t
    self.data['data1'] = data1
    self.data['data2'] = data2
    print(f'We saved {len(self.data)} points')
  
  def sum_cols(self):
    ''' converts data to pandas dataframe and sums two columns '''
    print(f'Name: {self.name}, location: {self.location}')
    print(f'Time: {self.record_date}')
    df = pd.DataFrame.from_dict(self.data)
    df = df.set_index('time')
    df['sum'] = df['data1'] + df['data2']
    return df

  def clear_data(self):
    self.data = {}
    print('Dict data is cleared')

In [ ]:
sensor1 = Sensor('sensor1', 'Frankfurt', '2019-01-01')

In [ ]:
np.arange(10), 
data = np.random.randint(-10,5,10) 
data1 = np.random.randint(-1,5,10)
t = np.arange(10)
sensor1.add_data(t, data, data1)
sensor1.sum_cols()

We saved 3 points
Name: sensor1, location: Frankfurt
Time: 2019-01-01

      data1  data2  sum
time
0         1      4    5
1        -9      1   -8
2        -4      4    0
3       -10      0  -10
4         1      0    1
5        -2      1   -1
6         2      4    6
7         0      0    0
8         1      2    3
9        -5      0   -5

In [ ]:
 np.random.randint(-10,10,10)

array([ 8, -2, -3,  5, -3,  9,  3, -1,  1,  5])