<a href="https://colab.research.google.com/github/macrodatascience/100DaysOfCode/blob/main/Day_2_SAS_to_Pandas_to_Parquet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **How to import SAS Datasets into Python Pandas DataFrames and convert them to Parquet format**

In [2]:
!pip install sas7bdat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sas7bdat
  Downloading sas7bdat-2.2.3.tar.gz (16 kB)
Requirement already satisfied: six>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from sas7bdat) (1.15.0)
Building wheels for collected packages: sas7bdat
  Building wheel for sas7bdat (setup.py) ... done
  Created wheel for sas7bdat: filename=sas7bdat-2.2.3-py3-none-any.whl size=16309 sha256=2d7b2a452081dbe097608b7a0b20a42427b0b2a6e5224cbf5110f4a3a4d4598a
  Stored in directory: /root/.cache/pip/wheels/69/dd/ca/1fd7bf96640d87457056b763e015e20d8e566041bd3273d966
Successfully built sas7bdat
Installing collected packages: sas7bdat
Successfully installed sas7bdat-2.2.3

In [15]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
from sas7bdat import SAS7BDAT

In [16]:
import platform
print(f"Python version: {platform.python_version()}")
print(f"Pandas version: {pd.__version__}")
print(f"Pyarrow version: {pa.__version__}")

Python version: 3.7.13
Pandas version: 1.3.5
Pyarrow version: 6.0.1

In [ ]:
## (https://catalog.data.gov/dataset/private-school-universe-survey-2017-18

In [17]:
## SAS Visual Forecasting Sample Datasets

In [18]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [19]:
with SAS7BDAT('./DCSKINPRODUCT.sas7bdat', skip_header=False) as reader:
    df = reader.to_data_frame()

[DCSKINPRODUCT.sas7bdat] header length 65536 != 8192
WARNING:./DCSKINPRODUCT.sas7bdat:[DCSKINPRODUCT.sas7bdat] header length 65536 != 8192

In [20]:
df.head()

,ProductKey,DistributionCenter,DATE,Discount,Revenue
0,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19399.0,0.0,0.0
1,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19406.0,0.0,0.0
2,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19413.0,0.0,0.0
3,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19420.0,0.0,0.0
4,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19427.0,0.0,0.0

In [23]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152130 entries, 0 to 152129
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ProductKey          152130 non-null  object
 1   DistributionCenter  152130 non-null  object
 2   DATE                152130 non-null  float64
 3   Discount            152130 non-null  float64
 4   Revenue             151830 non-null  float64
dtypes: float64(3), object(2)
memory usage: 5.8+ MB

In [24]:
df.head()

,ProductKey,DistributionCenter,DATE,Discount,Revenue
0,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19399.0,0.0,0.0
1,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19406.0,0.0,0.0
2,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19413.0,0.0,0.0
3,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19420.0,0.0,0.0
4,Javier's Deep Cleansing Hair Shampoo 2.718 dl,Cary,19427.0,0.0,0.0

### **Convert Pandas DataFrame to Arrow Table**

In [25]:
df_table = pa.Table.from_pandas(df)
df_table

pyarrow.Table
ProductKey: string
DistributionCenter: string
DATE: double
Discount: double
Revenue: double
----
ProductKey: [["Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl","Javier's Deep Cleansing Hair Shampoo 2.718 dl",...,"Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl","Sujatha's Sensitve skin Lotion 8 dl"]]
DistributionCenter: [["Cary","Cary","Cary","Cary","Cary","Cary","Cary","Cary","Cary","Cary",...,"Toronto","Toronto","Toronto","Toronto","Toronto","Toronto","Toronto","Toronto","Toronto","Toronto"]]
DATE: [[19399,19406,19413,19420,19427,19434,19441,19448,19455,19462,...,20099,20106,20113,20120,20127,20134,20141,20148,20155,20162]]
Discount: [[0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0]]
Revenue: [[0,0,0,0,0,0,0,0,0,0,...,26384,26187,27465,26988,26725,27027,28124,25574,25812,25532]]

### **Write Arrow Table to a Parquent file**

In [26]:
pq.write_table(df_table, './DCSKINPRODUCT.parquet', compression='SNAPPY')

### **Validate Parquet file**

In [27]:
df_parquet = pd.read_parquet('./DCSKINPRODUCT.parquet')
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152130 entries, 0 to 152129
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ProductKey          152130 non-null  object
 1   DistributionCenter  152130 non-null  object
 2   DATE                152130 non-null  float64
 3   Discount            152130 non-null  float64
 4   Revenue             151830 non-null  float64
dtypes: float64(3), object(2)
memory usage: 5.8+ MB

In [30]:
df.columns

Index(['ProductKey', 'DistributionCenter', 'DATE', 'Discount', 'Revenue'], dtype='object')