<a href="https://colab.research.google.com/github/macrodatascience/100DaysOfCode/blob/main/Day_10_Python_Excel_Merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd
initial_xls = '/content/Region.xlsx'
other_xls = '/content/FXCodes.xlsx'
output_xls = '/content/outfx.xlsx'

df_initial = pd.read_excel(initial_xls)
df_other = pd.read_excel(other_xls)
print(df_initial.columns)
print(df_other.columns)

df_initial.rename(columns = {'Country': 'Currency Market', 'Region': 'Continent'}, inplace=True)
print(df_initial.columns)
df_other.rename(columns = {'Country': 'Currency Market', 'Code': 'Currency Code'}, inplace=True)
print(df_other.columns)
df_out = pd.merge(df_initial, df_other[['Currency Market', 'Currency Code']], on = 'Currency Market', how = 'left')
# print(df_out)
df_out = df_out.replace(np.nan,'')
print(df_out)
df_out.to_excel(output_xls, index=False)

Index(['Region', 'Country'], dtype='object')
Index(['Country', 'Code'], dtype='object')
Index(['Continent', 'Currency Market'], dtype='object')
Index(['Currency Market', 'Currency Code'], dtype='object')
   Continent Currency Market Currency Code
0       Asia           India           INR
1       Asia           China           CNY
2       Asia           Korea           KRW
3       Asia       Indonesia           IDR
4       Asia          Taiwan           TWD
5       Asia        Malaysia           MYR
6     Europe         Germany           EUR
7     Europe          France           EUR
8     Europe              UK           GBP
9     Europe           Spain           EUR
10    Europe           Italy           EUR
11    Europe         Ireland           EUR
12    Europe        Portugal           EUR
13    Europe          Russia           RUB
14    Europe          Turkey           TRY
15    Europe          Poland           PLN
16    Europe         Hungary           HUF
17    Europe           Czech           CZK
18    Europe         Romania           RON
19   America             USA           USD
20   America          Canada           CAD
21   America          Mexico           MXN
22   America          Brazil           BRL
23   America        Colombia           COP
24   America           Chile           CLP
25   America            Peru           PEN
26   America       Argentina